<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>条件判断</title>
    <style>
        /* .static{
            color:red
        }
        .active{
            color:blue;
        }
        .bold{
            font-weight:bold;
        } */
    </style>
</head>
<body>
    <div id="app">
           <div v-if="flag">
            {{message}}
          </div>
        <div v-else-if="flag===false">else-if</div>
        <div v-else>else</div>
        <template v-if="flag">
            <label for="reg">注册</label>
            <input type="text" id="reg">
        </template>
        <template v-else>
            <label for="login">登录</label>
            <input type="text" id="login">
        </template>
        <div v-show="flag">show</div>
        <button  @click="qiehuan()"> 切换</button>

    </div>
    <script>

        //数据对象
        const dataObj={
            message:"hello Vue!",
            flag:false
        };

        //创建一个VUE对象
        const app=new Vue({
            el:"#app",
            data:dataObj,
            methods:{
                qiehuan(){
                    this.flag=!this.flag
                }
            }
        });
    </script>
</body>
</html>