<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>循环列表渲染</title>
</head>
<body>
    <div id="app">
        <!-- <ul>
            <li v-for="item in array">{{a.city}}</li>
        </ul> -->
        <!-- <ul>
            <li v-for="(item,index) in array">{{index}}-{{item.city}}</li>
        </ul> -->
        <ul>
            <li v-for="(value,name,key) in object">{{key}}:{{name}}:{{value}}</li>
        </ul>
     
    </div>
    <script>

        //数据对象
        const dataObj={
            // message:"hello Vue!",
            // flag:false,
            // array:[
            //     {city:'北京'},
            //     {city:'上海'}, 
            //     {city:'无锡'}
            // ]
            object:{
                name:"Mr li",
                age:100,
                gender:"男"
            }
        };

        //创建一个VUE对象
        const app=new Vue({
            el:"#app",
            data:dataObj,
            methods:{
            }
        });
    </script>
</body>
</html>