<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>数据绑定</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" id="a" value="上海" v-model="message">
        <label for="a">上海</label>
        <input type="checkbox" id="b" value="武汉" v-model="message">
        <label for="b">武汉</label>
        <input type="checkbox" id="c" value="北京" v-model="message">
        <label for="c">北京</label>
        <span>地址：{{message}}</span>
        <input type="checkbox" placeholder="请输入内容" v-model="checked">
        <span>{{checked}}</span>
        <input type="radio" id="female" value="女" v-model="xbie">
        <label for="female">男</label>
        <input type="radio" id="male" value="男" v-model="xbie">
        <label for="male">女</label>
        <span>性别：{{xbie}}</span>
        <select v-model="selected" multiple>
            <option value="北京" >beij</option>
            <option value="上海" >shhai</option>
            <option value="武汉" >wuhan</option>
        </select>
        <span>地址：{{selected}}</span>

    </div>
    <script>
        const dataObj={
            message:[],
            xbie:'',
            checked:true,
            selected:[]
        }
        var app=new Vue({
            el:"#app",
            data:dataObj
        })
    </script>
</body>
</html>