<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>vue的template</title>
</head>
<!-- 
    父组件给子组件传值，如果在子组件的模板当中直接与父组件传递过来的number1绑定，则会在
    表单输入时同时改变两个组件当中的数据
    解决方法：
      使得子组件中存在数据接收父组件传递过来的数据，然后表单元素与子组件的数据进行绑定
    输入数值时，子组件数据变，父组件数据不变 ,继续改进
-->

<!-- 
最后实现的效果：
    一.当在Input当中输入数值时，父子组件当中的第一个数字同时改变
        实现思路：{
            1.父组件传递给子组件
            2.获取数值（子组件）
            3.父组件的值被改变后的子组件值发射出去了    
        }
    二.父子组件的第二个数字为父子组件的第一个数字的100倍
        实现思路：{
            1.将改变后的子组件数字二改变
            2.将改变后的数字二发射给父组件数字二
        } 
        
-->
<body>
    <div id="app">
        <cpn :number1="num1" :number2="num2"
        @num1change="num1change" @num2change="num2change"/>
    </div>
    <template id="cpn">
        <div>
            <!-- 需求是当nput当中的值绑定时，number1和number2当中的值也会跟着改变 -->
            <h2>props:{{number1}}</h2>
            <h2>data:{{dnumber1}}</h2>
            <h2>{{number1}}</h2>
            <!-- <input type="text" v-model="dnumber1"> -->
            <input type="text" :value="dnumber1" @input="num1Input">

            <h2>props:{{number2}}</h2>
            <h2>data:{{dnumber2}}</h2>
            <h2>{{number2}}</h2>
            <!-- <input type="text" v-model="dnumber2"> -->
            <input type="text" :value="dnumber2" @input="num2Input">

        </div>
    </template>
    <script>
        const app=new Vue({
            el:"#app",
            data:{
                num1:1,
                num2:0
            },
            methods:{
                num1change(value){
                    //子组件传入的数值是字符串类型，所以要为之进行转换,不然会提示类型错误
                    this.num1=parseInt(value)
                },
                num2change(value){
                    this.num2=parseInt(value)
                }
            },
            components:{
                cpn:{
                    template:"#cpn",
                    props:{
                        number1:Number,
                        number2:Number
                    },
                    data(){
                        return {
                            // 在子组件当中定义数据，使其接收父组件传递过来的数据
                            dnumber1:this.number1,
                            dnumber2:this.number2
                        }
                    },
                    methods:{
                        num1Input(event){
                            //1.将Input中的Value值赋给dnumber当中
                            this.dnumber1=event.target.value

                            //2.为了让父组件可以修改值，发出一个事件
                            //使用自定义，父组件的数据改变也能使得子组件的数据进行改变
                            this.$emit('num1change',this.dnumber1)

                            //3.同时修改dbumber2的值
                            this.dnumber2=this.dnumber1*100
                            this.$emit("num2change",this.dnumber2)

                            //4.

                        },
                        num2Input(event){
                            this.dnumber2=event.target.value
                            this.$emit('num2change',this.dnumber2)
                        }
                    }
                }
            }
        })
    </script>
</body>
</html>